<div class="container mt-5">
  <h1 class="mb-4">Add a New Restaurant</h1>
  <%= simple_form_for @restaurant, html: { class: 'form-group' } do |f| %>
    <div class="form-group">
      <%= f.input :name, label: "Restaurant Name", input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :address, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :phone_number, as: :string, input_html: { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.input :category, input_html: { class: 'form-control' } %>
    </div>
    <%= f.button :submit, "Create Restaurant", class: 'btn btn-primary' %>
  <% end %>
</div>
